div.col-md-3{
padding-right: 0;
}

div.col-md-9{
padding-right: 0;
padding-left: 0;
}

div.col-md-1{
padding-right: 0;
padding-left: 0;
}

i{
	font-size: 40px;
	padding-right: 20px;
	padding-left: 30px;
		padding-top: 30px;
	align-content: center
	
}


.fitpic{

  background-image:url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/SufdADj8iqbwe23d/videoblocks-leather-basketball-skin-texture_brtskd-4g_thumbnail-full01.png');
/*overflow-y: hidden ! important;
        overflow-x: hidden ! important;
        background-color: #f8f8f8;*/
        background-size: cover;
        background-height:25px;
       /* background-size: contain;*/
  /*     max-height: 64px;*/
       vertical-align: middle;
}
    



.fi{

  background-image:url('https://www.playoncourts.com/cmss_files/imagelibrary/Header_Images/basketball-wood-header.jpg');

      background-size: cover;
}

a{
	text-decoration: none;
	color: white;
}
.display{
	text-shadow: 2px 2px 2px white;

}

.text-black{
	color: white;
	font-size: 30px
}

.tex{
	color: white;
	font-size: 20px; 
}


.bigger{

	font-size: 50px; 
}
.biggest{

	font-size: 47px; 
}

.button{
	border-radius: 0px 0px 0px 15px;
	cursor: pointer;}

.buttonone{
	vertical-align: middle;
	border-radius: 0px 0px 15px 15px;
	cursor: pointer;
}

.buttontwo{
	border-radius: 0px 0px 15px 0px;
	cursor: pointer;
}

